<div style="text-align: center;">
  <p style="height: 2em;" />
  <p>
    <a href="http://177.67.83.46/xbraingame/downloads/xbrain-1.0-SNAPSHOT-jar-with-dependencies.jar"><%= t('download_xbrain') %></a> <br />
    <a href="https://www.java.com" target="_blank"><%= t('java_is_needed') %></a> <br />
    <a href="<%= url_for licenca_get_path %>" ><%= t('get_licence_code') %></a> <br />
  </p>
</div>
