<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<div style="font-family: 'Open Sans', 'Helvetica Neue Light', 'Lucida Grande', 'Calibri', 'Arial', sans-serif; color: #666666; padding-top: 10px; padding-right: 20px; padding-bottom: 140px; padding-left: 20px; background-color: #FAFAFA; ">

  <p style="font-size: 13pt;" align="center">
    Olá, <b><%= @licenca.nome %></b>.  <b>O seu código de licença é <%= @licenca.to_param %>.</b>
  </p>
</div>
</body>
</html>