<div style="width: 800px; margin: auto;">
  <div class="ui vertical segment">
    <div class="ui huge header"><%= t('thank_you') %></div>
    <p align="center"><%=  t('you_will_receive_an_email') %></p>
  </div>
</div>
